.barra-superior{
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: -webkit-flex;
    align-items: center;
    justify-content: space-between;
}

.logo-container{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #000;
    border: 2px solid #fff;
    display: -webkit-flex;
    justify-content: center;
    align-items: center;
}

.logo-container img{
    width: 80%;
    height: auto;
}

.nombre-title{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
}